.gallery-container {
    width: 100%;
    height: 100%;
}
.gallery-wrapper {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 30px);
}
.gallery-controls {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.gallery-item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    /*opacity: 0;*/
    background-position: center;
    background-size: cover;
    transition: opacity 500ms linear;
}